---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
	<div class="h-full flex flex-col justify-center items-center gap-6 text-center">
		<h1 class="text-6xl">Welcome, team, to MHD.</h1>
		<p class="text-lg">On this website, you can find all the information about the project, from the original spec to coding requirements.</p>
	</div>
</PageLayout>