---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
    <div class="h-full flex flex-col justify-center items-center gap-8">
        <div>
            <h1 class="text-3xl font-bold">Frontend</h1>
            <div>
                <div>TypeScript</div>
                <div>Tailwind</div>
                <div>React</div>
                <div>Next.js</div>
                <div>D3.js</div>
                <div>mapbox</div>
            </div>
        </div>
        <div>
            <h1 class="text-3xl font-bold">Backend</h1>
            <div>
                <div>Node.js</div>
                <div>Drizzle</div>
                <div>PostgreSQL</div>
                <div>Clerk</div>
                <div>Neon</div>
            </div>
        </div>
        <div>
            <h1 class="text-3xl font-bold">General</h1>
            <div>
                <div>GitHub (Projects)</div>
                <div>Vercel</div>
            </div>
        </div>
    </div>
</PageLayout>