---
import "../styles/globals.css";
import NavBar from "../components/NavBar.astro";
---

<html lang="en" class="bg-[var(--background)]">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Overpass:wght@300;700&display=swap">
		<title>Astro</title>
	</head>
	<body class="bg-[var(--background)] text-[var(--text-color)]">
		<main class="flex justify-center items-center">
			<div class="w-full max-w-[768px]">
				<NavBar />
                <slot />
			</div>
		</main>
	</body>
</html>
